<div class="contenedor">
    <div class="d-lg-flex">
        <div class="portada col-lg-5">
            <img class="img-fluid portada-vertical d-none d-lg-block" src="assets/images/login-logo-vertical.jpg" alt="">
            <img class="img-fluid portada-horizontal d-lg-none" src="assets/images/login-logo-horizontal.jpg" alt="">
        </div>
        <div class="card col-lg-7">
            <div class="pt-5 d-flex justify-content-center">
                <img class="logo-login" src="assets/images/usuario.png" alt="">
            </div>
            <div class="card-body d-flex justify-content-center align-items-center">
                <div class="form-group w-100">
                    <div class="input-group has-validation">
                        <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                        <div class="form-floating is-invalid">
                            <input type="text" class="form-control" id="input-email" placeholder="Correo electronico" required>
                            <label for="input-email">Correo electronico</label>
                        </div>
                        <div class="invalid-feedback d-none">Correo no valido</div>
                    </div>
                    <div class="input-group has-validation">
                        <span class="input-group-text"><i class="bi bi-key"></i></span>
                        <div class="form-floating is-invalid">
                            <input type="text" class="form-control" id="input-password" placeholder="Contraseña" required>
                            <label for="input-password">Contraseña</label>
                        </div>
                        <div class="invalid-feedback d-none">Contraseña incorrecta</div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-success w-100">Ingesar</button>
            </div>
        </div>
    </div>
</div>